.App{
  padding-bottom: 40px;
}

.Header{
  background-color: #5c6a7a;
  color: white;
  padding: 20px;
}

.Header > h3{
  margin: 0;
}

.Students{
  width: 60%;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #5c6a7a;
  color: white;
}